/*!
 * Start Bootstrap - 4 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin: 10px;
    background-color: #615B5B;
}

.portfolio-item-completed {
    margin: 10px;
    background-color: #3F51B5;
}

.portfolio-item h3, .portfolio-item p, .portfolio-item-completed h3, .portfolio-item-completed p {
	color: white;
	text-align: center;

}

footer {
    margin: 50px;
}